html, body {
    background-color: transparent !important;
}

body {
    position: relative;
    color: white;
    height: 100vh;
    font-family: sans-serif;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(0, 0, 0) radial-gradient(ellipse farthest-corner at center, rgba(128,0,255,0.3) 0%, rgba(64,0,128,0.3) 75%, rgba(0,0,0,0.3) 90%, rgba(0,0,0,0.3) 100%);
    opacity: 1;
}
body.fade .background {
    animation-name: fade-background;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes fade-background {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.icon {
    position: relative;
    width: 300px;
    height: 300px;
}
.icon img {
    border-radius: 10%;
}
body.fade .icon {
    animation-name: icon-slide-down, icon-slide-up;
    animation-duration: 0.3s, 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out, ease-in;
}

@keyframes icon-slide-down {
    0% {
        top: 0;
    }
    100% {
        top: 5vh;
    }
}
@keyframes icon-slide-up {
    0% {
        top: 5vh;
    }
    100% {
        top: -80vh;
    }
}

.status {
    font-size: 2em;
}
body.fade .status {
    animation-name: fade-status;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes fade-status {
    0% {
        opacity: 0.25;
    }
    100% {
        opacity: 0;
    }
}

.info {
    position: absolute;
    bottom: 1.25em;
    right: 0.25em;
    opacity: 0.25;
}
body.fade .info {
    animation-name: fade-info;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes fade-info {
    0% {
        opacity: 0.25;
    }
    100% {
        opacity: 0;
    }
}